body {
  background-color: whitesmoke;
  max-width: 400px;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

table {
  width: 400px;
  border-collapse: collapse;
  background-color: black;
}

/*.graybutton {
  background-color: #d8d9db;
  width: 90px;
  text-align: center;
  border: 2px black solid;
  margin: 0px;
  height:100px;
}
*/
.graybutton2 {
  display: flex;
  background-color: #d8d9db;
  width: 100px;
  text-align: center;
  border: 2px black solid;
  margin: 0px;
  height:110px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}

.graybutton2:hover {
  background-color:#ebebeb;
  display:inline-block;
  padding:1px 5px;
}

.graybutton2:active{
  background-color:#bbbcbe;
  display:inline-block;
  padding:1px 5px;
}

.clearbutton {
  display: flex;
  background-color: #d8d9db;
  width: 202px;
  text-align: center;
  border: 2px black solid;
  margin: 0px;
  height:110px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}

.clearbutton:hover {
  background-color:#ebebeb;
  display:inline-block;
  padding:1px 5px;
}

.clearbutton:active{
  background-color:#bbbcbe;
  display:inline-block;
  padding:1px 5px;
}
.zerobutton {
  display: flex;
  background-color: #d8d9db;
  width: 303px;
  text-align: center;
  border: 2px black solid;
  margin: 0px;
  height:110px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}

.zerobutton:hover {
  background-color:#ebebeb;
  display:inline-block;
  padding:1px 5px;
}

.zerobutton:active {
  background-color:#bbbcbe;
  display:inline-block;
  padding:1px 5px;
}

/*.orangebutton {
  background-color: #df974c;
  width: 90px;
  color: white;
  text-align: center;
  border: 2px black solid;
  margin: 0px;
  height:100px;
}*/

.orangebutton2 {
  display: flex;
  background-color: #df974c;
  width: 90px;
  color: white;
  text-align: center;
  border: 2px black solid;
  margin: 0px;
  height:110px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}

.orangebutton2:hover {
  background-color:#dfb07e;
  display:inline-block;
  padding:1px 5px;
}

.orangebutton2:active {
  background-color:#dd8d37;
  display:inline-block;
  padding:1px 5px;
}

.answer {
  height: 75px;
  background-color: black;
  color: white;
  text-align: right;
  padding-right: 10px;
}
